<head>
  <link rel="stylesheet" href="css/style.css">
</head>


<form ng-submit="getWords(dad)">
  <input type="text" placeholder="An Adjective" ng-model="dad.adjective1">
  <input type="text" placeholder="Another Adjective" ng-model="dad.adjective2">
  <input type="text" placeholder="A Plural Noun" ng-model="dad.pluralNoun1">
  <input type="text" placeholder="Another Plural Noun" ng-model="dad.pluralNoun2">
  <input type="text" placeholder="True or False" ng-model="dad.trueFalse">
  <input type="text" placeholder="Another Adjective" ng-model="dad.adjective3">
  <input type="text" placeholder="A Vehicle" ng-model="dad.vehicle">
  <input type="text" placeholder="A Verb" ng-model="dad.verb"> 
  <input type="text" placeholder="an outdoor location" ng-model="dad.location">
  <input type="text" placeholder="A Feeling" ng-model="dad.feeling">
  <input type="text" placeholder="A Personal Action" ng-model="dad.action">

  <button type="submit">Submit Your Story</button>
</form>
