<head>
<link rel="stylesheet" href="/css/style.css">
</head>
<div class="pull-left"></div>


<p> almost everyone in the world has a dad. some dads are {{dad.adjective1}}, while others are {{dad.adjective2}}. Certain dads might suspect that {{dad.pluralNoun1}} are the same thing as {{dad.pluralNoun2}} while other dads know with certainty: that's {{dad.trueFalse}}. There's a {{dad.adjective3}} dad on my street who has a {{dad.vehicle}}. when he {{dad.verb}}s it around the {{dad.location}}, i feel {{dad.feeling}}. I want to {{dad.action}} that dad. 
	
</p>
<div class="pull-right">
	
</div>
</div>

